{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<section class='container'>
    <h2 class="text-center text-muted">
    <div>   

        <div class="col-md-4">
                {{form(form)}} 
        </div>

    </div>


</section>

{% endblock %}
