{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<section class='container'>
    <h2 class="text-center text-muted">Ajout d'une voiture</h2>
    <div>   

        <div class="col-md-4">
                {{form(form)}} 
        </div>

    </div>


</section>

{% endblock %}
